<h1 class="text-center mt-4">Articles List</h1>
<hr>
<% if logged_in? %>
  <div class="text-center">
    <%= link_to 'Create new Article', new_article_path, class:"btn btn-outline-primary mg-auto" %>
  </div>
<% else %>
  <div class="text-center">
      <button type="button" class="btn btn-primary" disabled>Create new article</button>
  </div>
<% end %>

<% @articles.each do |article| %>
  <%= render 'shared/article', show: true, obj: article %>
<% end %>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
