<h1 class="text-center mt-4">Articles List</h1>
<hr>
<div class="text-center">
  <%= link_to 'Create new Article', new_article_path, class:"btn btn-outline-primary mg-auto" %>
</div>
<% @articles.each do |article| %>
  <%= render 'shared/article', show: true, obj: article %>
<% end %>
