<h1 class="text-center mt4">
  <span><%= @user.username %></span>
  <% if @current_user.admin > 0 %>
    <span class="text-warning">
      (LV<%= @user.admin %>)
    </span>
  <% end %>
</h1>

<h3 class="text-center mt-4">Articles</h3>
<% @articles.each do |article| %>
  <%= render 'shared/article', show: true, obj: article %>
<% end %>
